
 @media (max-width: 430px) {
    .header-fluid {
        display: flex;
        flex-direction: column;
        
    }

    .titulo-grande {
        font-size: 1.75rem;
    }
    
    .titulo-medio {
        font-size: 1.50rem;
    }

    .navbar-toggler {
        margin-bottom: 15px; 
    }

    .navbar-toggler {
        margin-top: 15px; 
    }

    .navbar-brand:hover {
        color: white; 
        
    }
}