header {
    font-family: "Poppins", sans-serif;
    background-color: #5252DB;
}


body,
html {
    overflow-x: hidden;

}

p {
    font-size: 16px;
}

body {
    background-color: #F9E2AF;
}

.titulo-grande {
    font-size: 2rem;
    color: #ffffff;
}

.titulo-medio {
    font-size: 1.75rem;
    color: #000000;

}

.titulo-pequeno {
    font-size: 1.5rem;
    color: #000000;

}




/* --------------------------- START NAV BAR ------------------------------------------- */

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar-brand {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #000000;

}


.navbar-nav .nav-link {
    color: #FFFFFF;
}


.navbar-nav .nav-link:hover {
    color: #000000;
}

/* --------------------------- END NAV BAR -------------------------------------- */


.dualshock {
    border-radius: 30px;
}

.dualshock:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;

}

/* --------------------------- CARDS ------------------------------------------- */


.card {
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.02);
}

/* --------------------------- END CARDS ---------------------------------------- */


/* --------------------------- FOOTER ------------------------------------------- */

.custom-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #5252DB;
    color: white;



}

.custom-footer a {
    color: white !important;
    /* Garante que os links também fiquem brancos */
}



/* --------------------------- END FOOTER ------------------------------------------- */